@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    /* background-color: #EDE0D4; */
    background: rgb(238,201,167);
    background: linear-gradient(90deg, rgba(238,201,167,1) 0%, rgba(214,157,120,1) 50%, rgba(244,178,135,1) 100%);
}

nav{
    background-color: #352216;
}

.nav-logo {
    color: #E6CCB2;
    font-size: xx-large;
}

a{
    color: #E6CCB2;
}
a:hover{
    color: #EDE0D4;
}

#contactMeBTN {
    color: #E6CCB2;
    background-color: #7F5539;
    padding: 10px;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    box-shadow: 8px 10px 36px 10px rgba(0,0,0,0.18);
    -webkit-box-shadow: 8px 10px 36px 10px rgba(0,0,0,0.18);
    -moz-box-shadow: 8px 10px 36px 10px rgba(0,0,0,0.18);
}

#contactMeBTN:hover{
    color: #EDE0D4;
    background-color: #643b20;
}


@media only screen and (max-width: 768px) {
    ul{
        background-color: #453124;
        z-index: 5;
    }
}